*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font:'Times Roman News','serif','Times'
}
.header-wrapper{
    position: relative;
}
h1{
    position:absolute;
    color:#fff;
    text-align: center;
    top:50%;
    left:27%;
    transform:(-50%,-27%);
    font-size:50px;
    
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    h1 {
        font-size:30px;
        top:10%;
        left:15%;
        font-size:20px;
    }
}
.drawer_nav{
    width:100%;
    padding:20px;
    background-color: rgba(0,0,0,0.80);
}

@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .drawer_nav {
        display:none;
    }
}
.drawer_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:0;
}
.drawer_menu li {
    list-style: none;  
    text-decoration: none;
}
.drawer_menu li a {
    color:white;    
    text-decoration: none;
}

#video{
    background:url('img/Computer.mp4');
    vertical-align: bottom;
    width:100%;
    height:100%;
    background-size:cover;
}
.toggle-btn{
    background:url('img/menu_icon.png')
}

#about_me{
    height: 500px;
    background-color: #B0B0B0;

}

.portfolio_box{
    display:flex;
    flex-wrap: wrap;
    padding:100px;
  
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .portfolio_box{
       padding:30px;
       display:flex;
        flex-wrap: wrap;
        padding:100px;
    }
}
.portfolio_title h2{
    margin:0;
    font-size:30px;
    padding-bottom:20px;
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .portfolio_title h2{
        font-size:20px;
        padding-bottom:0;
        text-align:center;
    }
}
.text{
    padding-bottom:20px;

}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .text{
        font-size:12px;
        text-align:center;
    }
}
.portfolio-right{
    text-align:center;

}

.portfolio-right img{
    height:50%;
    border-radius:55%;
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .portfolio-right img{
        height:20%;
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.portfolio-left{
    text-align: left;
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .portfolio-left{
        left: 50%;
        right:50%;
    }
}

#skills{
    background-color:#E8EAE9;
    background-size: cover;
    height:500px;

}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    #skills{
       height:700px;
    }
}

.title{
    text-align: center;
    font-size:30px;
    font:'Times Roman News','serif','Times';
    padding:30px;
    font-weight:700;
}
.skill_box{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align:center;
    margin:30px;

}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .skill_box{
        margin:auto;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin:25px;
        margin-top:0px;
    }
}
.skill-item{
    flex:none;
    width:150px;
    height:150px;
}
@media screen and (max-width: 479px) { /*ウィンドウ幅が最大479pxまでの場合に適用*/
    .skill-item{
        flex:none;
        width:100px;
        height:25%;
    }
}
.skill_photo1{
    max-width:100%;
    height:auto;

}
.skill_photo2{
    max-width:70%;
    height:auto;


}
.skill_photo3{
    max-width:130%;
    height:auto;


}
.skill_photo4{
    max-width:100%;
    height:auto;



}
.skill_photo5{
    max-width:130%;
    padding-bottom:60px;
    padding-right:30px;
}
.rating{
    height:20px;
}

.rate1::before{
    display:inline-block;
    color:yellow;
    top:0;
    left: 0;
    content:"★★★";
}
.rate1::after{
    display: inline-block;
    color:gray;
    top:0;
    left:0;
    content:"★★";

}
.rate2::before{
    display:inline-block;
    color:yellow;
    top:0;
    left: 0;
    content:"★★";
}
.rate2::after{
    display: inline-block;
    color:gray;
    top:0;
    left:0;
    content:"★★★";

}

.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.subtitle_works{
    text-align:center;
    font-size:17px;
    padding-bottom:30px;
}
.work_row{
    display:flex;
    height:500px;
    justify-content: space-evenly;
}
.col{
    width:400px;
    height:500px;
    position: relative;
    overflow: hidden;
}
.col img {
    max-width:100%;
    max-height:auto;
    position:absolute;

}

.title_works{
    text-align: center;
    font-size:30px;
    font:'Times Roman News','serif','Times';
    padding-top:40px;
    font-weight:700;
}
.subtitle_works2{
    text-align:center;
    font-size:17px;
    padding-top:30px;
}
.caption{
    position: relative;
    display:none;
    width:100%;
    height:100%;
    text-align:center;
    color:#fff;
    background-color:rgba(17,179,179,.7);
    top:0;
    left:0;
}

.caption p{
    position: absolute;
    padding:150px;
}

#contact{
    background-color:rgba(36, 35, 35, 0.8);
    color:#fff;
    padding-top:100px;
    text-align:center;
    margin-top:50px;
    height:1000px;
}
